@media screen and (min-width: 1100px) {
   

/* IMAGEN FONDO */

body { 

	background-image: url("IMAGENES/fondodif.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  background-attachment: fixed;

}



/*IMAGEN SLITHER*/

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
85% { left: -300%; }
90% { left: -400%; }
100% { left: -400%; }
}


div#slider { 

	overflow: hidden;

	margin-left: 12%;
	margin-right: 12%;

 }

div#slider figure img { width: 20%; height: 400px; float: left; }

div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s slidy infinite; 
}

/* PRECIOS JUEGOS */

#juegos{
    
    margin-left: 12%;
    margin-right: 12%;

    display: flex;
    flex-direction: ltr ;
    justify-content: space-between;
    align-self: center;

    font-family: Gill sans;
    font-size: 25px;
    color: #0D2C54;
  

    margin-top: 25px;
    margin-bottom: 25px;
}

#precio{

 width: 40vh;

background-color: white;


text-align: center;

}


#juego1{

  text-align: center;
  width: 40vh;
  height:300px;
}

}












@media only screen and (min-width: 700px) and (max-width: 1100px){
   
   /* IMAGEN FONDO */

body { 

  background-image: url("IMAGENES/fondodif.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  background-attachment: fixed;

}



/*IMAGEN SLITHER*/

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
85% { left: -300%; }
90% { left: -400%; }
100% { left: -400%; }
}


div#slider { 

  overflow: hidden;


  margin-left: 12%;
  margin-right: 12%;

 }

div#slider figure img { width: 20%; height: 400px; float: left; }

div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s slidy infinite; 
}

/* PRECIOS JUEGOS */

#juegos{
    
    margin-left: 12%;
    margin-right: 12%;


    font-family: Gill sans;
    font-size: 25px;
    color: #0D2C54;
  

    margin-top: 25px;
    margin-bottom: 25px;
}

#precio{

   width: 75vw;

background-color: white;


text-align: center;

}


#juego1{

  text-align: center;
  width: 75vw;
  height:60vh
}



}














@media only screen and (max-width: 700px){
   
   /* IMAGEN FONDO */

body { 

  background-image: url("IMAGENES/fondodif.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  background-attachment: fixed;

}



/*IMAGEN SLITHER*/

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
85% { left: -300%; }
90% { left: -400%; }
100% { left: -400%; }
}


div#slider { 

  overflow: hidden;




 }

div#slider figure img { width: 20%; height: 400px; float: left; }

div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s slidy infinite; 
}

/* PRECIOS JUEGOS */

#juegos{

width: 100%;
height: 100%; 

    font-family: Gill sans;
    font-size: 25px;
    color: #0D2C54;
  

    margin-top: 25px;
    margin-bottom: 25px;
}

#precio{

   width: 100%;

background-color: white;

margin-right: auto;
margin-left: auto;

text-align: center;

}


#juego1{

  text-align: center;
  width: 100%;
  height:60vh
}



}








